  .navBar {
    box-shadow: 4px 14px 44px -12px rgba(160, 158, 158, 0.59);
    -webkit-box-shadow: 4px 14px 44px -12px rgba(160, 158, 158, 0.59);
    -moz-box-shadow: 4px 14px 44px -12px rgba(160, 158, 158, 0.59);
    color: #434343;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
   /* position: sticky;
    top: 0;
    z-index: 1;*/
  
    .logoNav {
      font-weight: bold;
      color: #434343;
      text-decoration: none;
      list-style: none;
      padding: 5px;
      letter-spacing: 2px;
  
      &:hover {
        color: rgb(234, 147, 93);
        font-size: 16px;
      }
      
    }
  
    .divMenu {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  
    .cartWidget {
      padding: 20px;
    }
    .navMenu {
      display: flex;
      flex-direction: row;
  
      .navLink {
        font-size: 15px;
        font-weight: bold;
        color: #434343;
        text-decoration: none;
        list-style: none;
        padding: 30px;
  
        &:hover {
          color: rgb(234, 147, 93);
          font-size: 16px;
        }
      }
    }
  }
  