.cardProduct{
    box-shadow: 4px 14px 44px -12px rgba(160,158,158,0.59);
    -webkit-box-shadow: 4px 14px 44px -12px rgba(160,158,158,0.59);
    -moz-box-shadow: 4px 14px 44px -12px rgba(160,158,158,0.59);
    
    
}